# Perform the following analysis on the provided file "demo.csv".


## 1. Which month saw the highest joining of the employees

   function name: max_joinings_month()
   
   inputs: DataFrame

   outputs: str
   
   
## 2. What is the mean salary is the state KS

   function name: mean_ks_salary()
   
   inputs: DataFrame

   outputs: float
   
   
## 3. Which Region has highest mean salary

   function name: max_mean_salary_region()

   inputs: DataFrame

   outputs: str
   
   
## 4. Which region has lowest mean salary

   function name: min_mean_salary_region()

   inputs: DataFrame

   outputs: str
   
   
## 5. Which City has highest mean weight

   function name: max_mean_weight_city()

   inputs: DataFrame

   outputs: str
   
   
## 6. What is the difference between mean salary of Doctors and Professors

   function name: dr_prof_mean_salary_diff()

   inputs: DataFrame

   outputs: float
   
   
## 7. How many female use yahoo

   function name: females_with_yahoo()

   inputs: DataFrame

   outputs: int
   
   
## 8. How many Doctors use gmail

   function name: doctors_with_gmail()

   inputs: DataFrame

   outputs: int
   
   
## 9. What is the password of the youngest male

   function name: youngest_male_password()

   inputs: DataFrame

   outputs: str

In [1]:
import numpy as py
import pandas as pd

In [3]:
data = pd.read_csv('/content/demo.csv')

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 37 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Emp ID                  1000 non-null   int64
 1   Name Prefix             1000 non-null   object
 2   First Name              1000 non-null   object
 3   Middle Initial          1000 non-null   object
 4   Last Name               1000 non-null   object
 5   Gender                  1000 non-null   object
 6   E Mail                  1000 non-null   object
 7   Father's Name           1000 non-null   object
 8   Mother's Name           1000 non-null   object
 9   Mother's Maiden Name    1000 non-null   object
 10  Date of Birth           1000 non-null   object
 11  Time of Birth           1000 non-null   object
 12  Age in Yrs.             1000 non-null   float64
 13  Weight in Kgs.          1000 non-null   int64
 14  Date of Joining         1000 non-null   object
 15  Quarter of Joining      1000 non-null   object
 16  Half of Joining         1000 non-null   object
 17  Year of Joining         1000 non-null   int64
 18  Month of Joining        1000 non-null   int64
 19  Month Name of Joining   1000 non-null   object
 20  Short Month             1000 non-null   object
 21  Day of Joining          1000 non-null   int64
 22  DOW of Joining          1000 non-null   object
 23  Short DOW               1000 non-null   object
 24  Age in Company (Years)  1000 non-null   float64
 25  Salary                  1000 non-null   int64
 26  Last % Hike             1000 non-null   object
 27  SSN                     1000 non-null   object
 28  Phone No.               1000 non-null   object
 29  Place Name              1000 non-null   object
 30  County                  1000 non-null   object
 31  City                    1000 non-null   object
 32  State                   1000 non-null   object
 33  Zip                     1000 non-null   int64
 34  Region                  1000 non-null   object
 35  User Name               1000 non-null   object
 36  Password                1000 non-null   object
dtypes: float64(2), int64(7), object(28)
memory usage: 289.2+ KB

In [8]:
data

,Emp ID,Name Prefix,First Name,Middle Initial,Last Name,Gender,E Mail,Father's Name,Mother's Name,Mother's Maiden Name,...,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Password
0,850297,Ms.,Shawna,W,Buck,F,shawna.buck@gmail.com,Rosario Buck,Keisha Buck,Hendricks,...,222-11-7603,702-771-7149,Las Vegas,Clark,Las Vegas,NV,89128,West,swbuck,ja8?k3BTF^]o@<&
1,304721,Mr.,Nathaniel,Z,Burke,M,nathaniel.burke@walmart.com,Derrick Burke,Phoebe Burke,Pugh,...,550-99-9897,231-765-6923,Irons,Lake,Irons,MI,49644,Midwest,nzburke,tPA@4Wh9Ja$+Ln
2,412317,Drs.,Elisabeth,W,Foster,F,elisabeth.foster@gmail.com,Irwin Foster,Janie Foster,Delaney,...,215-91-0004,270-749-4774,Lexington,Fayette,Lexington,KY,40501,South,ewfoster,5D.B4IGNkWJfG<~
3,621375,Mrs.,Briana,C,Lancaster,F,briana.lancaster@yahoo.com,Jeffrey Lancaster,Shelby Lancaster,Weiss,...,534-71-1053,219-623-8216,Munster,Lake,Munster,IN,46321,Midwest,bclancaster,I%?JDM;pW
4,787549,Hon.,Estella,L,Potter,F,estella.potter@gmail.com,Booker Potter,Katelyn Potter,Pate,...,644-29-6396,907-677-8486,Fairbanks,Fairbanks North Star,Fairbanks,AK,99709,West,elpotter,j4jkEXfC&Rh
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,568435,Ms.,Bonnie,K,Baker,F,bonnie.baker@bp.com,Edwardo Baker,Pauline Baker,Robinson,...,064-02-6162,262-696-9171,Mukwonago,Waukesha,Mukwonago,WI,53149,Midwest,bkbaker,a?Co:/r;nu_wTQ
996,597409,Mr.,Luke,S,Turner,M,luke.turner@charter.net,Javier Turner,Nicole Turner,Sykes,...,056-02-8240,231-629-0498,Freeport,Barry,Freeport,MI,49325,Midwest,lsturner,7n5@64VC7|
997,359608,Hon.,Eva,S,Holman,F,eva.holman@hotmail.com,Coy Holman,Haley Holman,Boyle,...,343-11-1935,209-912-6705,Turlock,Stanislaus,Turlock,CA,95381,West,esholman,DG<<<e}*WgD<U
998,803426,Mrs.,Maritza,H,Christian,F,maritza.christian@microsoft.com,Dion Christian,Stephanie Christian,Mooney,...,336-11-5030,203-224-9056,Stamford,Fairfield,Stamford,CT,6910,Northeast,mhchristian,Krs@#TnM
999,669618,Drs.,Phyllis,H,Dudley,F,phyllis.dudley@yahoo.co.in,Jarrod Dudley,Latisha Dudley,Wilcox,...,101-02-6501,405-970-2341,Meno,Major,Meno,OK,73760,South,phdudley,h6wt@400%&Uu

## 1. Which month saw the highest joining of the employees

   function name: max_joinings_month()
   
   inputs: DataFrame

   outputs: str

In [55]:
maxjoining = data.value_counts('Month Name of Joining')
maxjoining.head(1)

Month Name of Joining
April    107
dtype: int64

## 2. What is the mean salary is the state KS

   function name: mean_ks_salary()
   
   inputs: DataFrame

   outputs: float

In [42]:
data[data['State']=="KS"]['Salary'].mean()

104225.45454545454

## 3. Which Region has highest mean salary

   function name: max_mean_salary_region()

   inputs: DataFrame

   outputs: str

In [69]:
maxmeansalary = data.groupby('Region')['Salary'].mean()
maxmeansalary.head(1)

Region
Midwest    122633.645614
Name: Salary, dtype: float64

## 4. Which region has lowest mean salary

   function name: min_mean_salary_region()

   inputs: DataFrame

   outputs: str

In [56]:
minmeansalary = data.groupby('Region')['Salary'].mean()
minmeansalary.tail(1)

Region
West    118910.197531
Name: Salary, dtype: float64

## 5. Which City has highest mean weight

   function name: max_mean_weight_city()

   inputs: DataFrame

   outputs: str

In [67]:
maxmeanweight = data.groupby('City')['Weight in Kgs.'].mean()
maxmeanweight

City
Adams Basin    83.0
Adamsville     86.0
Adrian         52.0
Agua Dulce     53.0
Alba           55.0
               ...
Yakima         90.0
Yazoo City     59.0
Yeagertown     57.0
Youngstown     42.0
Zephyrhills    52.0
Name: Weight in Kgs., Length: 880, dtype: float64

## 6. What is the difference between mean salary of Doctors and Professors

   function name: dr_prof_mean_salary_diff()

   inputs: DataFrame

   outputs: float

In [159]:
dr = data[data['Name Prefix'].str.contains('Dr.')]
prof = data[data['Name Prefix'].str.contains('Prof.')]
meandr = dr['Salary'].mean()
meandr
meanprof = prof['Salary'].mean()
meanprof
print("mean of dr is: ", meandr)
print("mean of prof is: ", meanprof)
diff = meanprof - meandr
diff

mean of dr is:  120150.5737704918
mean of prof is:  122786.55555555556

2635.981785063763

## 7. How many female use yahoo

   function name: females_with_yahoo()

   inputs: DataFrame

   outputs: int

In [98]:
female = data[data['Gender']=='F']
femaleswithyahoo = female[female['E Mail'].str.contains('yahoo')]
femaleswithyahoo.shape[0]

69

## 8. How many Doctors use gmail

   function name: doctors_with_gmail()

   inputs: DataFrame

   outputs: int

In [105]:
dr = data[data['Name Prefix'].str.contains('Dr.')]
drwithgmail = dr[dr['E Mail'].str.contains('gmail')]
drwithgmail.shape[0]

42

## 9. What is the password of the youngest male

   function name: youngest_male_password()

   inputs: DataFrame

   outputs: str

In [133]:
male = data[data['Gender']=='M']
minage = male['Age in Yrs.'].min()
minage
df_min = male[male['Age in Yrs.']== minage]
df_min

,Emp ID,Name Prefix,First Name,Middle Initial,Last Name,Gender,E Mail,Father's Name,Mother's Name,Mother's Maiden Name,...,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Password
127,825853,Hon.,Dominic,H,Mosley,M,dominic.mosley@gmail.com,Jesse Mosley,Deana Mosley,Bailey,...,524-99-5211,206-882-1588,Vancouver,Clark,Vancouver,WA,98663,West,dhmosley,xPr\aGPTQ#v
945,541221,Mr.,Jefferson,B,Holt,M,jefferson.holt@yahoo.ca,Weldon Holt,Lindsay Holt,Patton,...,304-37-7449,701-992-3274,Mekinock,Grand Forks,Mekinock,ND,58258,Midwest,jbholt,4FZyXCh^&{!Q8u